extends ../layouts/main.pug

block title
  title About

block content
  div(class="container about-page")
    div(class="content-box")
      div(class="row")
        div(class="col-md-8")
          h1 About Page
          p.
            Tumblr shoreditch venmo, flannel lomo fixie pour-over fanny pack skateboard meggings hammock typewriter drinking vinegar semiotics gastropub. Raw denim chambray tote bag, leggings actually kale chips yr typewriter. La croix kale chips letterpress man bun asymmetrical distillery occupy narwhal humblebrag beard seitan woke. Mixtape green juice poutine craft beer master cleanse photo booth. Tumblr shoreditch venmo, flannel lomo fixie pour-over fanny pack skateboard meggings hammock typewriter drinking vinegar semiotics gastropub. Raw denim chambray tote bag, leggings actually kale chips yr typewriter. La croix kale chips letterpress man bun asymmetrical distillery occupy narwhal humblebrag beard seitan woke. Mixtape green juice poutine craft beer master cleanse photo booth.
        div(class="col-md-4")
          img(src="https://randomuser.me/api/portraits/men/32.jpg")
