doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    block title
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/main.css')
    meta(name='theme-color', content='#fafafa')
  body
    header
      div.logo
        a(href="/") Kodori David
      div.menu
        ul
          li
           a(href="/bcr") BCR
          li
           a(href="/traversy") Traversy
          li
           a(href="/about") About
          li
           a(href="/projects") Projects
          li
           a(href="/blog") Blog
          li
           a(href="/contact") Contact
           
    section(class="content-area")
      block content
    script(src='https://www.google-analytics.com/analytics.js', async='')
