extends ../layouts/main.pug

block title
  title= currentTitle

block content
  div(class="container about-page")    
    div(class="content-box")
      div(class="row")
        h1=pagecontent.title
        h1=pagecontent.time
        each tag in pagecontent.tags
          div(class="pill") #{tag}
          
